
div {

  background-image: url('/app/slides/title-page/angular.svg');
  background-position-x: left;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 60%;

  h1 {
    text-align: center;
  }
}
