
div {

  > img {
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 75vh;
  }

  h1 {
    position: absolute;
    top: 10vh;
    left: 35vw;
    font-size: 10vh;
  }

  div {

    img {
      height: 3vw;
    }

    position: absolute;
    top: 50vh;
    left: 45vw;
    font-size: 4vh;
  }
}
