
<div class="content">
    <h1>Template Syntax</h1>
    <div>
        <div>
            <h2>Interpolation</h2>
            <source-code-view language="html" [relativeTo]="thisModuleId" name="interpolation.html.txt"></source-code-view>
            <h2>Property Binding</h2>
            <source-code-view language="html" [relativeTo]="thisModuleId" name="property-binding.html.txt"></source-code-view>
            <h2>Event Binding</h2>
            <source-code-view language="html" [relativeTo]="thisModuleId" name="event-binding.html.txt"></source-code-view>
        </div>
        <div>
            <h2>Two-Way Binding</h2>
            <source-code-view language="html" [relativeTo]="thisModuleId" name="two-way-binding.html.txt"></source-code-view>
            <h2>Structural</h2>
            <source-code-view language="html" [relativeTo]="thisModuleId" name="structural.html.txt"></source-code-view>
            <h2>References</h2>
            <source-code-view language="html" [relativeTo]="thisModuleId" name="references.html.txt"></source-code-view>
        </div>
    </div>
</div>
