<div (keyup)="handleKey($event)" tabindex="1">
    <title-page class="slide"></title-page>
    <overview-page class="slide"></overview-page>
    <react-overview class="slide"></react-overview>
    <general-differences class="slide"></general-differences>
    <components-overview class="slide"></components-overview>
    <components-inputs class="slide"></components-inputs>
    <components-outputs class="slide"></components-outputs>
    <template-syntax class="slide"></template-syntax>
    <components-tree class="slide"></components-tree>
    <components-smart-dumb class="slide"></components-smart-dumb>
    <dependency-injection class="slide"></dependency-injection>
    <why-not-promises class="slide"></why-not-promises>
    <observables class="slide"></observables>
    <socket-observable-example class="slide"></socket-observable-example>
    <!-- next slide here -->
    <closing-page class="slide"></closing-page>
</div>