<div (keyup)="handleKey($event)" tabindex="1">
    <title-page *viewSlide="false"></title-page>
    <overview-page *viewSlide="false"></overview-page>
    <react-overview *viewSlide="false"></react-overview>
    <general-differences *viewSlide="false"></general-differences>
    <components-overview *viewSlide="false"></components-overview>
    <components-inputs *viewSlide="false"></components-inputs>
    <components-outputs *viewSlide="false"></components-outputs>
    <template-syntax *viewSlide="false"></template-syntax>
    <components-tree *viewSlide="false"></components-tree>
    <components-smart-dumb *viewSlide="false"></components-smart-dumb>
    <dependency-injection *viewSlide="false"></dependency-injection>
    <why-not-promises *viewSlide="false"></why-not-promises>
    <observables *viewSlide="false"></observables>
    <socket-observable-example *viewSlide="false"></socket-observable-example>
    <routing *viewSlide="false"></routing>
    <other-features *viewSlide="false"></other-features>
    <many-hats *viewSlide="false"></many-hats>
    <angular-universal *viewSlide="false"></angular-universal>
    <angular-progressive-web *viewSlide="false"></angular-progressive-web>
    <angular-electron *viewSlide="false"></angular-electron>
    <angular-nativescript *viewSlide="false"></angular-nativescript>
    <!-- next slide here -->
    <closing-page *viewSlide="false"></closing-page>
</div>