
div {

  h1 {
    position: absolute;
    top: 10vh;
    left: 35vw;
    font-size: 10vh;
  }

  h3 {
    position: absolute;
    top: 30vh;
    left: 0vw;
    width: 100vw;
    font-size: 4vh;
    text-align: center;
  }

  div {

    img {
      height: 3vw;
    }

    position: absolute;
    top: 50vh;
    left: 25vw;
    font-size: 4vh;
  }
}
