
<div class="content">
    <h1>Differences</h1>
    <table>
        <thead>
        <tr>
            <th>React</th>
            <th>Angular</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Focuses on the "View"</td>
            <td>More of a Comprehensive Framework</td>
        </tr>
        <tr>
            <td>Uses JSX to Generate Javascript Code</td>
            <td>Markup in Annotated HTML</td>
        </tr>
        <tr>
            <td>Stateless Functions (or Derived Classes)</td>
            <td>Decorators (Metadata) Added to Classes</td>
        </tr>
        <tr>
            <td>Shared Context</td>
            <td>Dependency Injection</td>
        </tr>
        <tr>
            <td>Functional Paradigm</td>
            <td>Declarative Markup / Imperative Code</td>
        </tr>
        </tbody>
    </table>
</div>
