
<div>
    <h1>General Differences</h1>
    <div>
        <h2>React</h2>
        <ul>
            <li>Focuses on the "View"</li>
            <li>Uses JSX to generate Javascript Code</li>
            <li>Derived Classes or Stateless Functions</li>
            <li>Moving towards Functional paradigm</li>
        </ul>
    </div>
    <div>
        <h2>Angular2</h2>
        <ul>
            <li>More of a comprehensive framework</li>
            <li>Markup in Annotated HTML</li>
            <li>Decorators (Meta Data) added to classes</li>
            <li>Declarative Markup / Imperative Code</li>
        </ul>
    </div>
</div>
